# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
.RData

# RStudio files
.Rproj.user/
*.Rproj

# testthat
tests/testthat/testthat-problems.rds

# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.backup*
vignettes/*.results
vignettes/*.restart
vignettes/*.partial
vignettes/*.partial.phase*
vignettes/*cache/
vignettes/*Demo/

.Rproj.user

# Rcpp files
*.o
*.dll

# vim backup

*~

# personal files
TO_DO.txt
